
main.spec
dist/main/main.exe
dist/main/_internal/zope/interface/_zope_interface_coptimizations.cp312-win_amd64.pyd
dist/main/_internal/zope.interface-6.1.dist-info/WHEEL
dist/main/_internal/zope.interface-6.1.dist-info/top_level.txt
dist/main/_internal/zope.interface-6.1.dist-info/RECORD
dist/main/_internal/zope.interface-6.1.dist-info/namespace_packages.txt
dist/main/_internal/zope.interface-6.1.dist-info/METADATA
dist/main/_internal/zope.interface-6.1.dist-info/LICENSE.txt
dist/main/_internal/zope.interface-6.1.dist-info/INSTALLER
dist/main/_internal/zope.event-5.0.dist-info/WHEEL
dist/main/_internal/zope.event-5.0.dist-info/top_level.txt
dist/main/_internal/zope.event-5.0.dist-info/RECORD
dist/main/_internal/zope.event-5.0.dist-info/namespace_packages.txt
dist/main/_internal/zope.event-5.0.dist-info/METADATA
dist/main/_internal/zope.event-5.0.dist-info/LICENSE.txt
dist/main/_internal/zope.event-5.0.dist-info/INSTALLER
dist/main/_internal/win32/win32evtlog.pyd
dist/main/_internal/win32/win32api.pyd
dist/main/_internal/VCRUNTIME140_1.dll
dist/main/_internal/VCRUNTIME140.dll
dist/main/_internal/unicodedata.pyd
dist/main/_internal/tornado/speedups.pyd
dist/main/_internal/setuptools-69.0.3.dist-info/WHEEL
dist/main/_internal/setuptools-69.0.3.dist-info/top_level.txt
dist/main/_internal/setuptools-69.0.3.dist-info/RECORD
dist/main/_internal/setuptools-69.0.3.dist-info/METADATA
dist/main/_internal/setuptools-69.0.3.dist-info/LICENSE
dist/main/_internal/setuptools-69.0.3.dist-info/INSTALLER
dist/main/_internal/setuptools-69.0.3.dist-info/entry_points.txt
dist/main/_internal/select.pyd
dist/main/_internal/pywin32_system32/pywintypes312.dll
dist/main/_internal/python312.dll
dist/main/_internal/python3.dll
dist/main/_internal/pyexpat.pyd
dist/main/_internal/pycparser-2.21.dist-info/WHEEL
dist/main/_internal/pycparser-2.21.dist-info/top_level.txt
dist/main/_internal/pycparser-2.21.dist-info/RECORD
dist/main/_internal/pycparser-2.21.dist-info/METADATA
dist/main/_internal/pycparser-2.21.dist-info/LICENSE
dist/main/_internal/pycparser-2.21.dist-info/INSTALLER
dist/main/_internal/psutil/_psutil_windows.pyd
dist/main/_internal/programma/web/style.css
dist/main/_internal/programma/web/script.js
dist/main/_internal/programma/web/index.html
dist/main/_internal/programma/web/img/logo.png
dist/main/_internal/libssl-3.dll
dist/main/_internal/libffi-8.dll
dist/main/_internal/libcrypto-3.dll
dist/main/_internal/greenlet/_greenlet.cp312-win_amd64.pyd
dist/main/_internal/greenlet-3.0.3.dist-info/WHEEL
dist/main/_internal/greenlet-3.0.3.dist-info/top_level.txt
dist/main/_internal/greenlet-3.0.3.dist-info/RECORD
dist/main/_internal/greenlet-3.0.3.dist-info/METADATA
dist/main/_internal/greenlet-3.0.3.dist-info/LICENSE.PSF
dist/main/_internal/greenlet-3.0.3.dist-info/LICENSE
dist/main/_internal/greenlet-3.0.3.dist-info/INSTALLER
dist/main/_internal/greenlet-3.0.3.dist-info/AUTHORS
dist/main/_internal/gevent/libuv/_corecffi.pyd
dist/main/_internal/gevent/libev/corecext.cp312-win_amd64.pyd
dist/main/_internal/gevent/_gevent_cqueue.cp312-win_amd64.pyd
dist/main/_internal/gevent/_gevent_clocal.cp312-win_amd64.pyd
dist/main/_internal/gevent/_gevent_cgreenlet.cp312-win_amd64.pyd
dist/main/_internal/gevent/_gevent_cevent.cp312-win_amd64.pyd
dist/main/_internal/gevent/_gevent_c_waiter.cp312-win_amd64.pyd
dist/main/_internal/gevent/_gevent_c_tracer.cp312-win_amd64.pyd
dist/main/_internal/gevent/_gevent_c_semaphore.cp312-win_amd64.pyd
dist/main/_internal/gevent/_gevent_c_imap.cp312-win_amd64.pyd
dist/main/_internal/gevent/_gevent_c_ident.cp312-win_amd64.pyd
dist/main/_internal/gevent/_gevent_c_hub_primitives.cp312-win_amd64.pyd
dist/main/_internal/gevent/_gevent_c_hub_local.cp312-win_amd64.pyd
dist/main/_internal/gevent/_gevent_c_greenlet_primitives.cp312-win_amd64.pyd
dist/main/_internal/gevent/_gevent_c_abstract_linkable.cp312-win_amd64.pyd
dist/main/_internal/gevent-23.9.1.dist-info/WHEEL
dist/main/_internal/gevent-23.9.1.dist-info/top_level.txt
dist/main/_internal/gevent-23.9.1.dist-info/RECORD
dist/main/_internal/gevent-23.9.1.dist-info/NOTICE
dist/main/_internal/gevent-23.9.1.dist-info/METADATA
dist/main/_internal/gevent-23.9.1.dist-info/LICENSE
dist/main/_internal/gevent-23.9.1.dist-info/INSTALLER
dist/main/_internal/gevent-23.9.1.dist-info/entry_points.txt
dist/main/_internal/gevent-23.9.1.dist-info/AUTHORS
dist/main/_internal/eel/py.typed
dist/main/_internal/eel/eel.js
dist/main/_internal/cffi-1.16.0.dist-info/WHEEL
dist/main/_internal/cffi-1.16.0.dist-info/top_level.txt
dist/main/_internal/cffi-1.16.0.dist-info/RECORD
dist/main/_internal/cffi-1.16.0.dist-info/METADATA
dist/main/_internal/cffi-1.16.0.dist-info/LICENSE
dist/main/_internal/cffi-1.16.0.dist-info/INSTALLER
dist/main/_internal/cffi-1.16.0.dist-info/entry_points.txt
dist/main/_internal/base_library.zip
dist/main/_internal/_wmi.pyd
dist/main/_internal/_ssl.pyd
dist/main/_internal/_socket.pyd
dist/main/_internal/_queue.pyd
dist/main/_internal/_overlapped.pyd
dist/main/_internal/_multiprocessing.pyd
dist/main/_internal/_lzma.pyd
dist/main/_internal/_hashlib.pyd
dist/main/_internal/_decimal.pyd
dist/main/_internal/_ctypes.pyd
dist/main/_internal/_cffi_backend.cp312-win_amd64.pyd
dist/main/_internal/_bz2.pyd
dist/main/_internal/_asyncio.pyd
build/main/xref-main.html
build/main/warn-main.txt
build/main/PYZ-00.toc
build/main/PYZ-00.pyz
build/main/PKG-00.toc
build/main/main.pkg
build/main/main.exe
build/main/localpycs/struct.pyc
build/main/localpycs/pyimod04_pywin32.pyc
build/main/localpycs/pyimod03_ctypes.pyc
build/main/localpycs/pyimod02_importers.pyc
build/main/localpycs/pyimod01_archive.pyc
build/main/EXE-00.toc
build/main/COLLECT-00.toc
build/main/base_library.zip
build/main/Analysis-00.toc
__pycache__/code.cpython-312.pyc
controle script/backup.txt
