.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color:var(--secondary-focus); 
}
.modal-content {
    background-color: var(--secondary);
    border-radius: var(--standaard-radius);
    margin: 15% auto; 
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #ff000057;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

#modal-text {
    color:var(--h1-color);
}


#serial-ports-dropdown {
    width: 150px;
}